# Core functionality - changes here should be rare!
/src/app.py                   @njuptemmm
/src/backend/database.py      @njuptemmm
/src/backend/routers/auth.py  @njuptemmm

# The frontend will need refactored soon to be more object oriented.
/src/static/   @njuptemmm
